{% extends 'front.html.twig' %}

{% block main %}
    <!-- Page Add Section Begin -->
    <section class="page-add Reservation-page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Reservation<span>.</span></h2>
                        <a href="#">Home</a>
                        <a class="active" href="#">Reservation</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Page Add Section End -->
    <!-- Cart Page Section Begin -->
    <div class="event-page">
        <div class="container">
            <div class="event-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="product-h">idreservation</th>
                        <th>date</th>
                        <th class="quan">place</th>
                        <th>bike</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% set total=0 %}
                    {% for event in event %}

                            <tbody>
                            <tr>

                                <td class="idreservation-col">{{ event.idreservation }}</td>
                                <td class="date-col" style="font-style: inherit; font-weight: bold">{{  event.date|date() }} </td>
                                <td class="place-col" >{{event.place}} </td>
                                <td class="bike-col" >{{event.bike}} </td>
                                <td class="reservation-close"><a href="{{ path('event_delete',{idreservation:event.idreservation}) }}" style="color: #0b0b0b"> delete</a></td>
                                <td class="reservation-update"><a href="{{ path('event_update',{idreservation:event.idreservation}) }}" style="color: #0b0b0b"> update</a></td>
                                <td class="reservation-pdf"><a href="{{ path('pdf',{'idreservation':event.idreservation}) }}">download pdf</a></td>
                            </tr>

                            </tbody>

                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(event) }}
                </div>
            </div>
        </div>

    </div>
    <!-- Cart Page Section End -->

{% endblock %}