{% extends 'back.html.twig' %}

{% block main %}
    <h1>Livreur edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('livreur_affich') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input style="position:absolute;left: 55%"  class="btn btn-primary btn-sm" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
